<h1>Files</h1>
<ul>
  {{#each model as |file|}}
    <li>
      {{file.sha}}
      {{file.filename}}
      {{file.status}}
      {{file.additions}}
      {{file.deletions}}
      {{file.changes}}
      {{html-safe-diff file.patch}}
    </li>
  {{/each}}
</ul>
{{outlet}}
